name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update packages list
        run: sudo apt-get update

      - name: Install dependencies
        run: sudo apt-get install -y build-essential libtool autoconf automake

      - name: configure
        run: ./configure --disable-debug --prefix=$PWD/.libsodium-build
      
      - name: make
        run: make
      
      - name: make check
        run: make check
      
      - name: make install
        run: make install
      
      - name: strip
        run: strip --strip-all .libsodium-build/lib/libsodium.so
      
      - uses: actions/upload-artifact@v1
        with:
          name: build-linux-x64
          path: .libsodium-build/lib/libsodium.so

      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.0.5'
      - name: Run Checks 
        run: |
          flutter pub get
          flutter test